@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F7F4F1;
}

.dotfont{
  font-family: Regular;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}